{% extends 'cliente/base.html' %}
{% load static %}

{% block content %}
  <h1>Productos</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-end">
        <a href="{% url 'registroProducto' %}" class="btn btn-primary">Agregar Producto</a>
      </div>
    </div>
  </div>
  <div>
    <div class="row mt-3 justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form action="" method="GET">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar producto" name="q" />
                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-body" style="max-height: 400px; overflow-y: auto;">
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for producto in productos %}
                  <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.cantidad }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>
                      <a href="{% url 'editarProducto' producto.id %}" class="btn btn-info btn-sm">Editar</a>
                      <button onclick="eliminar({{ producto.id }}, '{{ csrf_token }}')"class="btn btn-danger btn-sm">Eliminar</button>

                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/javaScript.js' %}"></script>
{% endblock %}
