{% extends 'cliente/base.html' %}
{% load static %}
<script>
  function eliminar(id) {
    swal.fire({
        "title": "¿Estás seguro?",
        "text": "Esta acción no se puede deshacer",
        "icon": "question",
        "showCancelButton": true,
        "cancelButtonText": "No, Cancelar",
        "confirmButtonText": "Sí, Eliminar"
    })
    .then(function(result) {
        if(result.isConfirmed) {
            $.ajax({
                url: '/eliminar/' + id + '/',
                method: 'POST',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response) {
                    // Maneja la respuesta si es necesario
                    // Por ejemplo, puedes recargar la página
                    window.location.reload();
                },
                error: function(xhr, status, error) {
                    // Maneja errores si es necesario
                }
            });
        }
    });
}

</script>
{% block content %}
  <h1>Productos</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-end">
        <a href="{% url 'registroProducto' %}" class="btn btn-primary">Agregar Producto</a>

      </div>
    </div>
  </div>
  <div>
    <div class="row mt-3 justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form action="" method="GET">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar producto" name="q" />
                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-body" style="max-height: 400px; overflow-y: auto;">
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for producto in productos %}
                  <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.cantidad }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>
                      <a href="{% url 'editarProducto' producto.id %}"class="btn btn-info btn-sm">Editar</a>
                      <a href="#" onclick="eliminar('{{ producto.id }}')" class="btn btn-info btn-sm" id="eliminar-{{ producto.id }}">Eliminar</a>


                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
